*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding-bottom: 40px;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex; /*image and link would be side by side*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: list-item;  /*for about, contanct.., and my name is somayyah.... */
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color: black;  /*for about, contact,....*/
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


.header-text{
    margin-top: 30%; /*--these are for web debeloper, AE student--*/
    font-size: 30px;
}

.header-text h1{
font-size: 60px; /*---this is for i'm somayyah ...--*/
margin-top: 20px;
}

.header-text h1 span{ /*--this is for Somayyah Maqsudi--*/
    color: #ff004f;
}


/*------------------------------------------------------about----------------------------------------*/

#about{
    color: white;;
    padding: 80px 0px;
}

.row{
    display: flex; /*getting the content side by side*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 25%; /*how big or small the image is. the second image*/
    margin: 40px 25px;
}
.about-col-1 img{ /*second image*/
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 70%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600; /*about me and my work sizing*/
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}


.tab-contents.active-tab{
    display: block;
}


/*-------------------------------------------project----------------------------------------------------------*/

#project{
    padding: 30px 0; /*--30px from top and bottom and 0 from left and right---*/
    background-color: black;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px; /*---space from top--*/
    background-color:black;
    color: white;   /*this is for font color*/ 
}


.project-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}

.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.project-list div a{
    text-decoration: none;
    color: #b54769;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/*------------------------------------ -Contact ------------------------------------------------------*/
.info{
    font-size: 18px;
    color: white;
    margin: 40px 30px;
    display: contents;
}

.info a{
    font-size: 18px;
    color: white;
    margin: 40px 30px;
    display: contents;
}
